@import url(https://fonts.googleapis.com/css2?family=Amiko:wght@100;200;300;400;500;600;700&display=swap);


body {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3983ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
